@page
@model Debra_WebClient.Pages.AddEventModel
@{
	ViewData["Title"] = "Add New Event";
}

<div class="event-details container-fluid text-center">
	<div class="row">
		<div class="col">
			<span class="text-white"><b>Add Event Details</b></span>
		</div>
		<div class="col">
			<span class="text-white-50"><b>Add Ticket Details</b></span>
		</div>
		<div class="col">
			<span class="text-white-50"><b>Summary</b></span>
		</div>
	</div>

	<div class="event-details-form">
		<span class="text-white">Event Details</span>
		<form>
			<div class="m-3">
				<span class="text-white">Event Name</span>
				<input type="Text" name="name" value="" />
			</div>
			<div class="m-3">
				<span class="text-white">Event Name</span>
				<input type="Text" name="name" value="" />
			</div>
			<div class="m-3">
				<span class="text-white">Event Name</span>
				<input type="Text" name="name" value="" />
			</div>
		</form>
	</div>
	

</div>

