@page
@model Debra_WebClient.Pages.AddEventModel
@{
	ViewData["Title"] = "Add New Event";
}

<div class="event-details">
	<div class="row text-center">
		<div class="col">
			<span class="text-white"><b>Add Event Details</b></span>
		</div>
		<div class="col">
			<span class="text-white-50"><b>Add Ticket Details</b></span>
		</div>
		<div class="col">
			<span class="text-white-50"><b>Summary</b></span>
		</div>
	</div>

    <div class="row text-start">
        <div class="col-12">
            <h2 class="mb-4 add-event-heading">Event Details</h2>
        </div>

        <form action="/" method="post">
            <div class="form-group row mb-3">
                <label for="eventName" class="form-label text-white col-3">Event Name</label>
                <div class="col-9">
                    <input type="text" asp-for="newEvent.Name" class="form-control" id="eventName" name="eventName">
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="eventName" class="form-label text-white col-3">Description</label>
                <div class="col-9">
                    <textarea asp-for="newEvent.Description" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>

    <hr />


    <div class="row text-start">
        <h2 class="mb-4 add-event-heading">Event Details</h2>

        <form action="/" method="post">
            <div class="row">
                <label for="eventName" class="form-label text-white col-3">Event Name</label>
                <input type="text" class="form-control col-6" id="eventName">
            </div>
            
        
        </form>

    </div>

	<div class="event-details-form bg-danger-subtle">
        <h2 class="mb-4 add-event-heading">Event Details</h2>
		<form>
			<div class="row">
                <label for="eventName" class="form-label text-white col-3">Event Name</label>
                <input type="text" class="form-control col-6" id="eventName">
            </div>
            <div class="row mb-3">
                <label for="description" class="col-3 form-label text-white">Description</label>
                <textarea class="col-9 form-control" id="description" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label text-white">Date</label>
                <input type="date" class="form-control" id="date">
            </div>
            <div class="mb-3">
                <label for="time" class="form-label text-white">Time</label>
                <input type="time" class="form-control" id="time">
            </div>
            <div class="mb-3">
                <label for="venue" class="form-label text-white">Venue</label>
                <input type="text" class="form-control" id="venue">
            </div>
            <div class="mb-3">
                <label for="eventImage" class="form-label text-white">Image</label>
                <div class="image-upload" id="imageUpload">
                    <img id="imagePreview" src="#" alt="Image Preview">
                    <input type="file" class="" id="eventImageInput" accept="image/*">
                </div>
            </div>

            <h2 class="mb-4 add-event-heading">Select Musicians</h2>
            <div class="mb-3">
                <label for="musicianName" class="form-label text-white">Name</label>
                <select class="form-control" id="musicianName">
                    <option value="" disabled selected>Select Musician</option>
                    <!-- Add musician options here -->
                </select>
            </div>
            <div class="mb-3">
                <label for="musicianImage" class="form-label text-white">Image</label>
                <div class="image-upload" id="musicianImage">
                    <span>+</span>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-cancel">Cancel</button>
                <button type="submit" class="btn btn-next">Next</button>
            </div>
        </form>
	</div>
</div>


