@page
@model Debra_WebClient.Pages.AddEventModel
@{
	ViewData["Title"] = "Add New Event";
}

<div class="event-details">
	<!--<div class="row text-center">
		<div class="col">
			<span class="text-white"><b>Event Details</b></span>
		</div>
		<div class="col">
			<span class="text-white-50"><b>Ticket Details</b></span>
		</div>
		<div class="col">
			<span class="text-white-50"><b>Summary</b></span>
		</div>
	</div>-->

	<div class="container m-5 mt-3">
        <div class="row text-start">
            <form method="post">
                <div class="col-12">
                    <h2 class="mb-4 add-event-heading">Add Event Details</h2>
                </div>

                <div class="form-group row mb-3">
                    <label class="form-label text-white col-3">Event Name</label>
                    <div class="col-9">
                        <input type="text" asp-for="newEvent.Title" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="form-label text-white col-3">Description</label>
                    <div class="col-9">
                        <textarea asp-for="newEvent.Description" class="form-control" id="validationTextarea" placeholder="Event Description" required></textarea>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="form-label text-white col-3">Date</label>
                    <div class="col-9">
                        <input type="date" asp-for="newEvent.Date" class="form-control" min="@Model.MinDate" required>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="form-label text-white col-3">Start Time</label>
                    <div class="col-3">
                        <input type="time" asp-for="newEvent.StartTime" class="form-control" required>
                    </div>
                    <label class="form-label text-white col-3">End Time</label>
                    <div class="col-3">
                        <input type="time" asp-for="newEvent.EndTime" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="form-label text-white col-3">Venue</label>
                    <div class="col-9">
                        <input type="text" asp-for="newEvent.Location" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="form-label text-white col-3">Image</label>
                    <div class="col-9">
                        <input  class="form-control"
                               type="file" id="formFile" accept="image/*" required>
                    </div>
                </div>

                <div class="col-12">
                    <h2 class="mb-4 add-event-heading">Add Musicians</h2>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-12">
                        <h4 class="add-event-heading">Add a Musician</h4>
                        <div class="form-group row mb-3">
                            <label class="form-label text-white col-3">Name</label>
                            <div class="col-9">
                                <input class="form-control" type="text" id="musicianName" asp-for="MusicianName" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="form-label text-white col-3">Image</label>
                            <div class="col-9">
                                <input class="form-control" type="file" id="formFile" accept="image/*"  required>
                            </div>
                        </div>
                        <!--<div class="row justify-content-end mb-3">
							<button class="btn btn-next col-3 mx-2">Add</button>
						</div>-->
                    </div>

                    <!--<div class="col-6">
                        <h4 class="add-event-heading">Added Musician/s</h4>
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
					</div>-->
                </div>

                <div class="col-12">
                    <h2 class="mb-4 add-event-heading">Add Bands</h2>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-12">
                        <h4 class="add-event-heading">Add a Band</h4>
                        <div class="form-group row mb-3">
                            <label class="form-label text-white col-3">Name</label>
                            <div class="col-9">
                                <input asp-for="BandName" class="form-control"
                                       type="text" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="form-label text-white col-3">Image</label>
                            <div class="col-9">
                                <input class="form-control"
                                       type="file" id="formFile" accept="image/*" required>
                            </div>
                        </div>
                        <!--<div class="row justify-content-end mb-3">
                            <button class="btn btn-next col-3 mx-2">Add</button>
						</div>-->
                    </div>
                    <!--
                    <div class="col-6">
                        <h4 class="add-event-heading">Added Band/s</h4>
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>-->
                </div>

                <div class="col-12">
                    <h2 class="mb-4 add-event-heading">Add Ticket Details</h2>
                </div>

                <table class="table table-dark table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Number of Tickets</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Commision per Ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <input type="number" asp-for="newEvent.Tickets.Quantity" class="form-control" min="0"  step="1" required>
                            </th>
                            <th scope="row">
                                <input type="number" asp-for="newEvent.Tickets.UnitPrice" class="form-control" min="0"  step=".01" required>
                            </th>
                            <th scope="row">
                                <input type="number" asp-for="newEvent.Tickets.CommisionPerTicket" class="form-control" min="0"  step=".01" required>
                            </th>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center">
                    <input type="submit" name="btnCancel" value="Cancel" asp-page-handler="Cancel"
                        class="btn btn-cancel px-5 mx-5 rounded-pill"/>
                    <input type="submit" name="btnAdd" value="Add" asp-page-handler="Create"
                        class="btn btn-next px-5 mx-5 rounded-pill effect effect-1"/>
                </div>
            </form>
        </div>
	</div>
</div>





