html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  padding: 0;
}

body {
    top: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

main {
    top: 0;
    z-index: 900;
    left: 0;
    right: 0;
    padding: 0;
}

footer {
    background-color: #1C2AA3;
}

/* --- CSS for index page --- */

.home-carousel {
    height: 100vh;
    width: 100vw;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.event-banner {
    background: linear-gradient(to bottom right, #909AF2 0%, #1C2AA3 100%);
    color: white;
    text-align: center;
    position: relative;
    width: 60%;
    height: 85vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.event-banner .info{
    z-index: 200;
}

.event-banner .info h1 {
    font-size: 2rem;
}

.event-banner .info p {
    font-size: 1rem;
}

.event-banner .band-silhouette {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
}


/*CSS for View Event page*/
.cover-container {
    background-image: url('../img/event-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Ensures the background image stays fixed while scrolling */
    color: #fff; /* Text color on top of the background image */
    text-align: center;
    padding: 50px; /* Adjust padding as needed */
    height: 100vh; /* Set height to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/*CSS for registration and sign in pages*/
.background-2 {
    background-image: linear-gradient(#909AF2, #1C2AA3);
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.png');
    background-size: cover; 
    background-position: center;
    opacity: 1;
    z-index: 1;
}

.register-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.sign-in-text {
    color: #F5167E;
}

/*CSS for partner profile page*/
.profile-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* --- CSS for add event page --- */
.event-details {
    margin-top: 80px;
}

.add-event-heading {
    color: #C19EE3;
}

.image-upload {
    border: 2px dashed #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

.image-upload img {
    max-height: 100%;
    max-width: 100%;
    display: none;
}

.btn-cancel {
    background-color: transparent;
    color: #F5167E;
    border: 2px solid #F5167E;
}

.btn-next {
    background-color: #F5167E;
    color: #fff;
    border: none;
    z-index:10;
}

.btn-next:hover {
    color: #F5167E;
    background-color: #fff;
}


.btn-cancel:hover {
    background: rgba(245, 22, 126, .5);
    color: #fff;
}

.more-ticket-types {
    border: 1px dashed #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
}

/* effect-1 styles */

    .effect.effect-1 {
        transition: all 0.2s linear 0s;
    }

        .effect.effect-1:before {
            content: "\f178";
            font-family: FontAwesome;
            font-size: 15px;
            color: #F5167E;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            opacity: 0;
            height: 100%;
            transition: all 0.2s linear 0s;
        }

        .effect.effect-1:hover {
            text-indent: -20px;
        }

            .effect.effect-1:hover:before {
                opacity: 1;
                text-indent: 0px;
            }

